
@import "../vars.scss";

.js-userself-admin-section{
  .user-info-wrap{
    background-color: $usrbg;
    height: 10vh;
    .user-log{
      height: 10vh;
      line-height: 10vh;
      img{
        height: 5vh;
        border-radius: 50%;
        vertical-align:middle;
      }
      h1{
        display: inline-block;
        color: white;
      }
    }
  }
  .admin-nav{
    background-color: #F6F6F6;
    padding-top: 1rem;
    .nav{
      display: flex;
      justify-content: space-between;
      div{
        flex: 1;
        height: 2rem;
        text-align: center;
        border-bottom: 4px solid transparent;
        &.active{
          border-bottom-color: $bg;
        }
      }
    }
  }
  .item-wrap{
    border-bottom: 1px solid $border-fc;
    .file-wrap{
      padding: 4vh 0;

      .img{
        margin-left: 50%;
        -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        transform: translate(-50%,0);
        img{
          border-radius: 50%;
          width: 20vw;
          height: 20vw;
        }
        &>span{
          height: 20vw;
          line-height: 20vw;
          display: inline-block;
          vertical-align: top;
          font-size: 1.5rem;
          font-weight: 600;
        }
        button{
          height: 1.5rem;
          width: 100%;
          margin-left: 50%;
          transform: translate(-50%,0);
          background-color: $usrbg;
          border: none;
          border-radius: 3px;
          display: block;
          text-align: center;
          margin-top: 3vh;
          i{
            font-size: 1.5rem;
            color: white;
          }
        }
        p{
          margin: 0;
          padding: 0;
          span{
            color: $desc-fc;
            font-size: 0.8rem;
            &.ui-color-red{
              color: $bg;
            }
          }
        }
      }

    }
  }

}

